


<main class="container">

<div class="row mt-4">
  {{#if items.length}}
  <div class="col-md-6 blog-list">
    {{#each items as |item|}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}<span id ="createdOn">{{item.date_created}}</span></h5>
            <p class="card-text">{{item.description}}</p>
        </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</main> 

<script src="./js/dashboard.js"></script>





